body {
	margin: 0;
	padding: 0;
}

#layout {
	width: 1000px;
	margin: 0 auto;
}


/* ===========
	テーブル
=============*/

table {
	border-collapse: collapse !important;
	width: 100%;
}

table,
th,
td {
	border: 1px solid #000;
}

th,
td {
	padding: 5px 8px;
}

td.command {
	padding: 0;
	-webkit-box-sizing: border-box;
	height: 29px;
	width:40px;
}

th {
	background: #cfc;
}

th.title,
td.title {
	width: 10em;
}

th.category,
td.category {
	width: 4em;
}

tbody tr {
	line-height: 40px;
}

tbody tr:hover {
	background: #ddf;
}

.command a {
	display: block;
	text-align: center;
}

.command a:hover {
	text-decoration: none;
}

/* ===========
	/テーブル
=============*/